---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
  <p>This is <span>Blog</span> page.</p>
</Layout>

<style lang="scss">
  p {
    font-size: 2rem;
    span {
      color: red;
      font-style: italic;
    }
  }
</style>
